body {
  margin: 0px;
}

canvas {
  background-image: url('https://i.ytimg.com/vi/GyIBcV10q3E/maxresdefault.jpg');
  background-color: azure
  margin: 20px;
  background-size: 1400px
}

img {
  display: none;
}
